/* This file is part of GNOME Games. License: GPL-3.0+. */

@define-color games_collection_bg_color #292929;

@define-color games_thumbnail_color #bebebe;
@define-color games_thumbnail_border_color #3b3c38;
@define-color games_thumbnail_bg_color #2d2d2d;

gamescollectioniconview .frame {
	background-color: @games_collection_bg_color;
}

gamesgamethumbnail {
	background-color: @games_thumbnail_bg_color;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	border-color: @games_thumbnail_border_color;
	color: @games_thumbnail_color;
}
