/* This file is part of GNOME Games. License: GPL-3.0+. */

gamescollectioniconview .frame {
	background-color: @theme_base_color;
}

gamesgamethumbnail {
	background-color: mix (@theme_base_color, @theme_bg_color, 0.5);
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	border-color: @theme_bg_color;
	color: @theme_fg_color;
}
